# dependencies
node_modules/

# build
docs/.vitepress/dist/
docs/.vitepress/cache/

# local env files
.env.local
.env.*.local
.env

# editor directories and files
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# system
.DS_Store
Thumbs.db